@import "config/color"
@import "compass/css3/border-radius"

@mixin btn($color_bg, $color_font: $color_white)
  background-color: $color_bg !important
  color: $color_font !important
  &:hover
    background-color: darken($color_bg,10%) !important
  &:active
    background-color: darken($color_bg,15%) !important

.btn
  background-color: $color_red
  color: $color_white
  display: inline-block
  padding: 1em 2em
  cursor: pointer
  transition: background-color 0.2s, transform 0.2s
  +border-radius(30px)

  &:hover
    background-color: darken($color_red,10%)
    transform: translateY(-2px)
  &:active
    background-color: darken($color_red,15%)
    transition: transform 0.1s
    transform: translateY(3px)

  &.is-red-reverse
    +btn($color_white,$color_red)
