.description
  padding: 20px 10px
  font-family: sans-serif
  line-height: 140%
  &.is-center
    text-align: center
  &.is-narrow
    width: 50%
    margin-left: auto
    margin-right: auto
  &.is-large
    font-size: 110%

  &.no-padding
    padding: 0px
