.headroom
  transition: transform 200ms linear
.headroom--pinned
  //transform: translateY(-100%)
  //transform: translateY(0%)
.headroom--unpinned
  //transform: translateY(0%)
  transform: translateY(-100%)
.headroom--top
  //margin-top: 53px
  //transform: translateY(-100%)
  position: absolute
  .to-top
    display: none

.headroom--not-top
  margin-top: 0
  transform: translateY(0)
  .to-top
    display: block
