@import "config/responsive"

.siteimage
  background-image: image-url("siteimage.png")
  background-repeat: no-repeat
  height: 681px
  width: 842px
  position: absolute
  left: 50%
  margin-left: -900px
  background-position: 0px 0

@media (max-width: $width_sp)
  .siteimage
    margin-left: 0
    left: 0
    background-size: contain
    width: 96%
    margin-left: 2%
    padding: 0
    clear: both

    &~.grid
      margin-top: 70%
