@import "compass/utilities/general/clearfix"
@import "config/responsive"

#wrapper
  +clearfix
  overflow: hidden

[name="switch"]
  display: none

.tab-contents
  +clearfix
  overflow: visible
  width: 300%
  -webkit-transition: -webkit-transform 0.6s
  transition: transform 0.6s

.section
  float: left
  width: 33.33%

#tab-1:checked ~ .tabBtn li [for="tab-1"]
#tab-2:checked ~ .tabBtn li [for="tab-2"]
#tab-3:checked ~ .tabBtn li [for="tab-3"]

#tab-1:checked ~ .tab-contents section:nth-child(1),
#tab-2:checked ~ .tab-contents section:nth-child(2),
#tab-3:checked ~ .tab-contents section:nth-child(3)
  opacity: 1


#tab-1:checked ~ .tab-contents 
  -ms-transform: translateX(0)
  -webkit-transform: translateX(0)
  transform: translateX(0)
#tab-2:checked ~ .tab-contents
  -ms-transform: translateX(-33%)
  -webkit-transform: translateX(-33%)
  transform: translateX(-33%)
#tab-3:checked ~ .tab-contents  
  -ms-transform: translateX(-66%)
  -webkit-transform: translateX(-66%)
  transform: translateX(-66%) 


@media (max-width: $width_sp)
  .tab-contents
    width: 100%

  .section
    clear: both
    width: 100%
    .container
      height: auto !important
