.is-center
  margin-left: auto
  margin-right: auto

// text-align
.is-ce
  text-align: center
.is-lft
  text-align: left
.is-rgt
  text-align: right

// font
.is-bold
  font-weight: bold

// display
.is-hidden
  display: none

.is-shown
  display: block

.is-fixed
  position: fixed
  z-index: 1

.is-fullwidth
  width: 100%
